/* TAGS */

img {
  margin-left: 5px;
}
}
h2 {
  text-align: center;
}
h4 {
  float: right;
}
li {
  font-size: 20px;
}

/* Classes */

.card {
  background-color: rgb(232, 242, 248);
  padding: 5px;
}
.list ol li {
  font-size: 15px;
}